@model VinylShop.Models.ViewModels.OrderVM
@using VinylShop.Utility

<form method="post">
	<input asp-for="OrderHeader.Id" hidden />
	<br />
	<div class="container">
		<div class="card">
			<div class="card-header bg-dark text-light ml-0 row container">
				<div class="col-12 d-none d-md-block col-md-6 pb-1">
					<i class="fas fa-shopping-cart"></i> &nbsp; Кінцеве замовлення
				</div>
				<div class="col-12 col-md-4 offset-md-2 text-right">
					<a asp-action="Index" class="btn btn-outline-info form-control btn-sm">Повернутись до списку замовлень</a>
				</div>
			</div>
			<div class="card-body">
				<div class="container rounded p-2">
					<div class="row">
						<div class="col-12 col-lg-6 pb-4">
							<div class="row">
								<h4 class="d-flex justify-content-between align-items-center mb-3">
									<span class="text-primary">Деталі отримання:</span>
								</h4>
							</div>
							<div class="row my-1">
								<div class="col-3">Ім'я</div>
								<div class="col-9">
									@if(User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee)){
										<input asp-for="OrderHeader.Name" type="text" class="form-control" />
										<span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
									}
									else
									{
										<input asp-for="OrderHeader.Name" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Номер телефона</div>
								<div class="col-9">
									@if(User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee)){
										<input asp-for="OrderHeader.PhoneNumber" type="text" class="form-control" />
										<span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
									}
									else
									{
										<input asp-for="OrderHeader.PhoneNumber" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Адреса</div>
								<div class="col-9">
									@if(User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee)){
										<input asp-for="OrderHeader.StreetAddress" type="text" class="form-control" />
										<span asp-validation-for="OrderHeader.StreetAddress" class="text-danger"></span>
									}
									else
									{
										<input asp-for="OrderHeader.StreetAddress" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Місто</div>
								<div class="col-9">
									@if(User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee)){
										<input asp-for="OrderHeader.City" type="text" class="form-control" />
										<span asp-validation-for="OrderHeader.City" class="text-danger"></span>
									}
									else
									{
										<input asp-for="OrderHeader.City" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Країна</div>
								<div class="col-9">
									@if(User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee)){
										<input asp-for="OrderHeader.Country" type="text" class="form-control" />
										<span asp-validation-for="OrderHeader.Country" class="text-danger"></span>
									}
									else
									{
										<input asp-for="OrderHeader.Country" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Поштовий індекс</div>
								<div class="col-9">
									@if(User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee)){
										<input asp-for="OrderHeader.PostalCode" type="text" class="form-control" />
										<span asp-validation-for="OrderHeader.PostalCode" class="text-danger"></span>
									}
									else
									{
										<input asp-for="OrderHeader.PostalCode" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Електронна пошта</div>
								<div class="col-9">
									<input asp-for="OrderHeader.ApplicationUser.Email" readonly type="text" class="form-control" />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Дата замовлення</div>
								<div class="col-9">
									@if(User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee)){
										<input asp-for="OrderHeader.OrderDate" type="text" class="form-control" />
										<span asp-validation-for="OrderHeader.OrderDate" class="text-danger"></span>
									}
									else
									{
										<input value="@Model.OrderHeader.OrderDate.ToShortDateString()" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Код доставки</div>
								<div class="col-9">
									@if(User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee)){
										<input asp-for="OrderHeader.Carrier"  id="carrier" type="text" class="form-control" />
									}
									else
									{
										<input asp-for="OrderHeader.Carrier" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Накладний номер</div>
								<div class="col-9">
									@if(User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee)){
										<input asp-for="OrderHeader.TrackingNumber"  id="trackingNumber"  type="text" class="form-control" />
									}
									else
									{
										<input asp-for="OrderHeader.TrackingNumber" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Час доставки</div>
								<div class="col-9">
									<input value="@Model.OrderHeader.ShippingDate.ToShortDateString()" type="text" readonly class="form-control" />
								</div>
							</div>
							
							<div class="row my-1">
								<div class="col-3">Статус сплати</div>
								<div class="col-9">
									<input asp-for="OrderHeader.PaymentStatus" type="text" readonly class="form-control" />
								</div>
							</div>
							<input type="submit" asp-action="UpdateOrderDetail" class="btn btn-warning form-control my-1" value="Оновити дані замовлення" />


						</div>
						<div class="col-12 col-lg-5 offset-lg-1">
							<h4 class="d-flex justify-content-between align-items-center mb-3">
								<span class="text-primary">Кінцеве замовлення</span>
							</h4>
							<label class="btn btn-outline-primary form-control my-2">Статус замовлення - @Model.OrderHeader.OrderStatus</label>

							<ul class="list-group mb-3">
								@foreach(var detail in Model.OrderDetail)
								{
							
								<li class="list-group-item d-flex justify-content-between p-2">
									<div class="row container">
										<div class="col-8">
											<h6 class="my-0 text-primary">@detail.VinylPlate.Title</h6>
												<small class="text-muted">Ціна: ₴@detail.Price</small><br />
												<small class="text-muted">Кількість: @detail.Count</small>
											
										</div>
										<div class="col-4 text-end">
												<p class="text-success">₴@((detail.Count * detail.Price))</p>
											</div>
									</div>
								</li>
								}

								<li class="list-group-item bg-info">
									<div class="row container">
										<div class="col-6">
											<h5 class="text-white">Всього: </h5>
										</div>
										<div class="col-6 text-end">
											<h5 class="text-white">₴@Model.OrderHeader.OrderTotal</h5>
										</div>
									</div>
								</li>
							</ul>

							@if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
							{
								if (Model.OrderHeader.OrderStatus == SD.StatusPending )
								{
									<input type="submit" asp-action="StartProcessing" class="btn btn-primary form-control my-1" value="Почати обробку" />
								}
								if (Model.OrderHeader.OrderStatus == SD.StatusInProcess)
								{
									<input type="submit" onclick="return validateInput()"
									asp-action="ShipOrder" class="btn btn-primary form-control my-1" value="Доставити замовлення" />
								}
								
								@if (Model.OrderHeader.OrderStatus != SD.StatusRefunded &&
										Model.OrderHeader.OrderStatus != SD.StatusCancelled)
								{
									<input type="submit" asp-action="CancelOrder" class="btn btn-danger form-control my-1" value="Скасувати замовлення" />
								}
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

								@section Scripts{
    <partial name="_ValidationScriptsPartial" />
<script>
	function validateInput(){
		if(document.getElementById("trackingNumber").value==""){
			Swal.fire({
			  icon: 'error',
			  title: 'Помилка',
			  text: 'Введіть номер накладної',
			});
			return false;
		}
		if(document.getElementById("carrier").value==""){
			Swal.fire({
			  icon: 'error',
			  title: 'Помилка',
			  text: 'Введіть код доставки',
			});
			return false;
		}
		return true;
	}
</script>
}